/* * {
  margin: 0;
  padding: 0;
} */

body {
    scroll-behavior: smooth;
  }

nav {

}


#searchMovie {
  background:url('../img/back.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: grey;
  opacity: .3;
  position: absolute;
}

#searchMovie .card {
  opacity: .8;
  margin-top: -6rem;
}

#collectionResults .material-icons {
  width: 2rem;
}

#movieInfo .material-icons {
  /* margin-top: -15px; */
}

.movDet {
  display: inline-block;
}

/* Class used to toggle display of no results message */
  .hide {
    display: none;
  }

  blockquote{
    margin: 20px 0;
    padding-left: 1rem;
    border-left: 2px solid #64b5f6;
    color: grey;
}

  .italics {
    font-style: italic;
  }

  .page-footer {
    padding: 0;
  }
